// $primary: #000000;

@import '~bulma/bulma.sass';

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.social:hover {
  opacity: 0.7;
}

.social {
  box-sizing: content-box;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.aboveWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#indexPage,
#contactPage {
  flex: 1;

  background: linear-gradient(
    270deg,
    #e10000,
    #ffa500,
    #a1e100,
    #09f711,
    #1a09f7,
    #f609f7,
    #a2005c
  );
  background-size: 1400% 1400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
#wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.is-dark {
  background-color: $dark;
}
.is-light {
  background-color: $light;
}
.icon {
  width: 24px !important;
  height: 24px !important;
}

.hidden {
  display: none;
}

span.vertical-timeline-element-date {
  text-align: center !important;
}

.margin-size {
  margin: 0.5rem;
}
:export {
  desktopWidth: $desktop;
}
.gatsby-image-outer-wrapper {
  display: contents;
}
.vertical-timeline {
  margin-top: 0 !important;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C' '\201D' '\2018' '\2019';
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.subtext-progress {
  font-weight: bolder;
  font-size: 10px;
  bottom: -2px;
  position: absolute;
  text-transform: uppercase;
}
.navbar-item {
  top: 8px;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
